n8n-workflows/01-agent-telegram.json
{
  "name": "01 – BOYA Agent Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "boya-agent-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXTJS_URL }}/api/agent/process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ { \"message\": $json.message.text, \"chat_id\": String($json.message.chat.id), \"telegram_user_id\": String($json.message.from.id) } }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Appeler BOYA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ok }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Réponse OK ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Appeler BOYA').item.json.response }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Envoyer Réponse",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [860, 220],
      "credentials": {
        "telegramApi": { "id": "TELEGRAM_CREDENTIAL_ID", "name": "Boyah Bot" }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "⚠️ Désolé, je rencontre une difficulté technique. Réessaie dans quelques secondes.",
        "additionalFields": {}
      },
      "name": "Envoyer Erreur",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [860, 380],
      "credentials": {
        "telegramApi": { "id": "TELEGRAM_CREDENTIAL_ID", "name": "Boyah Bot" }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Appeler BOYA", "type": "main", "index": 0 }]]
    },
    "Appeler BOYA": {
      "main": [[{ "node": "Réponse OK ?", "type": "main", "index": 0 }]]
    },
    "Réponse OK ?": {
      "main": [
        [{ "node": "Envoyer Réponse", "type": "main", "index": 0 }],
        [{ "node": "Envoyer Erreur",  "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "notes": "Agent conversationnel BOYA sur Telegram. Commandes : /rapport /alerte /marche /memoire"
}
